body {
  margin: 0;
  padding: 0;
}
.bloc_page {
  padding: auto;
  margin: auto;
}
.logo {
  width: 20%;
  margin-left: 40%;
  margin-bottom: 50px;
  margin-top: 30px;
}
.iconeSearch {
  margin-left: -40px;
}
#search {
  background-color: rgba(128, 128, 128, 0.24);
  border-radius: 5px;
  height: 60px;
  width: 90%;
  margin-left: 50px;
  border: none;
  margin-bottom: 60px;
}
#search::placeholder {
  font-size: 20px;
  padding-left: 30px;
  color: gray;
}
.search_filtre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  width: 200px;
  margin-left: 25px;
}
.one_filtre {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-right: 10px;
}
.one_filtre li {
  cursor: pointer;
}
.chevronIng,
.chevronApp,
.chevronUst {
  position: absolute;
  top: 20px;
  right: 30px;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}
#ustensiles {
  background-color: #ed6454;
  border: none;
  border-radius: 5px;
  width: 200px;
}
#appareil {
  background-color: #68d9a4;
  border: none;
  border-radius: 5px;
  width: 200px;
}
#ingredients {
  background-color: #3381f7;
  border-radius: 5px;
  border: none;
  width: 200px;
}
::placeholder {
  color: white;
  font-size: 20px;
  padding-left: 30px;
}
.msgRecipe {
  font-size: 18px;
  margin: -40px 0px 50px 50px;
  padding: 10px;
  color: #fff;
  border-radius: 30px;
}
.all_recipes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px 80px 50px 50px;
  flex-wrap: wrap;
}
li {
  list-style-type: none;
}

.allIng {
  width: 200px;
  background-color: #3381f7;
  color: white;
  display: none;
  margin-left: 25px;
  border-radius: 5px;
}

.allApp {
  width: 200px;
  background-color: #68d9a4;
  color: white;
  border-radius: 5px;
  margin-left: 25px;
  display: none;
}
.allUst {
  width: 200px;
  background-color: #ed6454;
  color: white;
  border-radius: 5px;
  margin-left: 25px;
  display: none;
}
.bg_img {
  background-color: #c7bebe;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
}
.info_recipe {
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
  height: auto;
  border-radius: 0px 0px 5px 5px;
  padding: 20px;
}
.recipe_content {
  width: 30%;
  margin-bottom: 50px;
  border-radius: 5px 5px 0px 0px;
}
.detail_recipe {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.enSavoirPlus {
  background-color: #e7e7e7;
  height: 20px;
  border: none;
  border-radius: 10px;
  padding: auto;
  font-weight: bold;
  cursor: pointer;
}
.all_ingredients {
  width: 60%;
  margin-left: -40px;
  margin-top: -20px;
}
.liIngredient {
  list-style-type: none;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: -10px;
}
.the_description {
  font-size: 15px;
  margin-left: 40px;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
  text-overflow: ellipsis;
}
.title_time {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.time {
  margin-top: 20px;
}
.title_name {
  font-size: 16px;
}
.clock_time {
  margin-top: 20px;
  margin-left: 10px;
}
@media all and (min-width: 481px) and (max-width: 1200px) {
  .search_filtre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .one_filtre {
    margin-bottom: 30px;
  }
  .all_recipes {
    width: 100%;
    margin-left: -20px;
    margin-top: 250px;
  }
  .recipe_content {
    width: 40%;
    margin-left: 50px;
    margin-bottom: 80px;
  }
}
@media all and (max-device-width: 480px) {
  .logo {
    width: 40%;
    margin-left: 30%;
  }
  #search {
    width: 90%;
    margin-left: 20px;
  }
  .search_filtre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
  }
  .one_filtre {
    margin-bottom: 30px;
  }
  .allApp,
  .allIng,
  .allUst {
    margin-left: 0px;
  }
  .all_recipes {
    width: 100%;
    margin-left: -20px;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
  }
  .recipe_content {
    width: 95%;
    margin-left: 30px;
    margin-bottom: 80px;
  }
}
